<h1>Añadir Cubo</h1>

<form method="post" enctype="multipart/form-data">
    <label>Id Cubo</label>
    <input type="text" name="IdCubo" class="form-control" />

    <label>Nombre</label>
    <input type="text" name="Nombre" class="form-control"/>

    <label>Marca</label>
    <input type="text" name="Marca" class="form-control"/>

    <label>Modelo</label>
    <input type="text" name="Modelo" class="form-control" />

    <label>Precio</label>
    <input type="text" name="Precio" class="form-control" />

    <label>Imagen</label>
    <input type="file" name="fichero" class="form-control"/>

    <button class="btn btn-primary">
        Añadir Cubo
    </button>

    <h2 style="color: greenyellow">@ViewBag.Mensaje</h2>

</form>